# URL de conexão com o banco de dados PostgreSQL
# Formato: postgresql://USER:PASSWORD@HOST:PORT/DATABASE?schema=public
DATABASE_URL="postgresql://postgres:SUA_SENHA_AQUI@localhost:5432/fastdoc?schema=public"

# Porta em que a API vai rodar
PORT=3333